@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 222.9 21.9% 95.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 93.9%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 93.9%;
    --muted-foreground: 217.9 10.6% 40.8%;
    --accent: 215.3 80.6% 91.6%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221 83% 53%;
    --chart-2: 16 100% 70%;
    --chart-3: 220 50% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 221.2 83.2% 53.3%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 215 27.9% 93.9%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 221.2 83.2% 53.3%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 215.4 16.3% 86.9%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 215.4 16.3% 86.9%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 215.4 16.3% 86.9%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 20% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 217.9 10.6% 60.8%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 91.2% 59.8%;
    --chart-1: 217 91% 60%;
    --chart-2: 16 100% 65%;
    --chart-3: 217 50% 50%;
    --chart-4: 43 74% 56%;
    --chart-5: 27 87% 57%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 215.4 16.3% 86.9%;
    --sidebar-primary: 217.2 91.2% 59.8%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
